<form [formGroup]="conditionFormGroup">
    <div class="form-group">
        <label for="Odometer">Odometer</label>
        <input type="number" id="Odometer" class="form-control" /> 
    </div>
    <tab-multi-select [labelText]="'Steering'" [formControlNameReference]="'Steering'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Footbrake'" [formControlNameReference]="'Footbrake'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Handbrake'" [formControlNameReference]="'Handbrake'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Bodywork'" [formControlNameReference]="'Bodywork'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Windscreen'" [formControlNameReference]="'Windscreen'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Chassis'" [formControlNameReference]="'Chassis'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Interior'" [formControlNameReference]="'Interior'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'PaintCondition'" [formControlNameReference]="'PaintCondition'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'GeneralCondition'" [formControlNameReference]="'GeneralCondition'" [valueCollection]="conditionArray"></tab-multi-select>

    <tab-multi-select [labelText]="'AirConditioner'" [formControlNameReference]="'AirConditioner'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'MagWheels'" [formControlNameReference]="'MagWheels'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Sunroof'" [formControlNameReference]="'Sunroof'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Spotlights'" [formControlNameReference]="'Spotlights'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Towbar'" [formControlNameReference]="'Towbar'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'RunningBoards'" [formControlNameReference]="'RunningBoards'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Radio'" [formControlNameReference]="'Radio'" [valueCollection]="radioArray"></tab-multi-select>
    <tab-multi-select [labelText]="'PaintCondition'" [formControlNameReference]="'PaintCondition'" [valueCollection]="conditionArray"></tab-multi-select>

    <tab-multi-select [labelText]="'CentralLocking'" [formControlNameReference]="'CentralLocking'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Immobiliser'" [formControlNameReference]="'Immobiliser'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'BullBar'" [formControlNameReference]="'BullBar'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'BootSpoiler'" [formControlNameReference]="'BootSpoiler'" [valueCollection]="conditionArray"></tab-multi-select>

    <div class="form-group">
        <label for="">Paint Color</label>
        <input type="text" class="form-control" id="PaintColour" [formControlName]="'PaintColour'" multiple />
    </div>
    <div class="form-group">
        <label for="MissingItems">Missing Items</label>
        <input type="text" class="form-control" id="MissingItems" [formControlName]="'MissingItems'" />
    </div>
    <div class="form-group">
        <label for="OldDamage">Old Damage</label>
        <input type="text" class="form-control" id="OldDamage" [formControlName]="'OldDamage'" />
    </div>
    <div class="form-group">
        <label for="Speakers">Speakers</label>
        <input type="number" class="form-control" id="Speakers" [formControlName]="'Speakers'" />
    </div>

    <div class="form-group">
        <label for="TyreMake">Tyre Make</label>
        <input type="text" class="form-control" id="TyreMake" formControlName="'TyreMake'" />
    </div>
    <div class="form-group">
        <label for="TyreThreadLF">Tyre Thread LF</label>
        <input type="number" class="form-control" id="TyreThreadLF" formControlName="'TyreThreadLF'" />
    </div>
    <div class="form-group">
        <label for="TyreThreadRF">Tyre Thread RF</label>
        <input type="number" class="form-control" id="TyreThreadRF" formControlName="'TyreThreadRF'" />
    </div>
    <div class="form-group">
        <label for="TyreThreadLR">Tyre Thread LR</label>
        <input type="number" class="form-control" id="TyreThreadLR" formControlName="'TyreThreadLR'" />
    </div>
    <div class="form-group">
        <label for="TyreThreadRR">Tyre Thread RR</label>
        <input type="number" class="form-control" id="TyreThreadRR" formControlName="'TyreThreadRR'" />
    </div>
    <div class="form-group">
        <label for="TyreThreadSpare">Tyre Thread Spare</label>
        <input type="number" class="form-control" id="TyreThreadSpare" formControlName="'TyreThreadSpare'" />
    </div>
    <div class="form-group">
        <label for="VehicleInspectedAt">Vehicle Inspected At</label>
        <input type="text" class="form-control" id="VehicleInspectedAt" formControlName="'VehicleInspectedAt'" />
    </div>
    <div class="form-group">
        <label for="QuotesObtainedFrom">Quotes Obtained From</label>
        <input type="text" class="form-control" id="QuotesObtainedFrom" formControlName="'QuotesObtainedFrom'" />
    </div>
</form>
