<div [formGroup]="conditionFormGroup">
    <div class="form-group">
        <label for="Odometer">Odometer</label>
        <input type="number" id="Odometer" class="form-control" formControlName="Odometer" />
    </div>
    <tab-multi-select [labelText]="'Steering'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'Steering'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Footbrake'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'Footbrake'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Handbrake'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'Handbrake'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Bodywork'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'Bodywork'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Windscreen'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'Windscreen'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Chassis'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'Chassis'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Interior'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'Interior'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'PaintCondition'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'PaintCondition'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'GeneralCondition'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'GeneralCondition'" [valueCollection]="conditionArray"></tab-multi-select>

    <tab-multi-select [labelText]="'AirConditioner'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'AirConditioner'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'MagWheels'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'MagWheels'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Sunroof'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'Sunroof'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Spotlights'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'Spotlights'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Towbar'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'Towbar'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'RunningBoards'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'RunningBoards'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Radio'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'Radio'" [valueCollection]="radioArray"></tab-multi-select>
    <tab-multi-select [labelText]="'PaintCondition'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'PaintCondition'" [valueCollection]="conditionArray"></tab-multi-select>

    <tab-multi-select [labelText]="'CentralLocking'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'CentralLocking'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'Immobiliser'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'Immobiliser'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'BullBar'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'BullBar'" [valueCollection]="conditionArray"></tab-multi-select>
    <tab-multi-select [labelText]="'BootSpoiler'" [formGroupReference]="conditionFormGroup"
        [formControlNameReferenceName]="'BootSpoiler'" [valueCollection]="conditionArray"></tab-multi-select>

    <div class="form-group">
        <label for="PaintColour">Paint Color</label>
        <input type="text" class="form-control" id="PaintColour" formControlName="PaintColour" />
    </div>
    <div class="form-group">
        <label for="MissingItems">Missing Items</label>
        <input type="text" class="form-control" id="MissingItems" formControlName="MissingItems" />
    </div>
    <div class="form-group">
        <label for="OldDamage">Old Damage</label>
        <input type="text" class="form-control" id="OldDamage" formControlName="OldDamage" />
    </div>
    <div class="form-group">
        <label for="Speakers">Speakers</label>
        <input type="number" class="form-control" id="Speakers" formControlName="Speakers" />
    </div>

    <div class="form-group">
        <label for="TyreMake">Tyre Make</label>
        <input type="text" class="form-control" id="TyreMake" formControlName="TyreMake" />
    </div>
    <div class="form-group">
        <label for="TyreThreadLF">Tyre Thread LF</label>
        <input type="number" class="form-control" id="TyreThreadLF" formControlName="TyreThreadLF" />
    </div>
    <div class="form-group">
        <label for="TyreThreadRF">Tyre Thread RF</label>
        <input type="number" class="form-control" id="TyreThreadRF" formControlName="TyreThreadRF" />
    </div>
    <div class="form-group">
        <label for="TyreThreadLR">Tyre Thread LR</label>
        <input type="number" class="form-control" id="TyreThreadLR" formControlName="TyreThreadLR" />
    </div>
    <div class="form-group">
        <label for="TyreThreadRR">Tyre Thread RR</label>
        <input type="number" class="form-control" id="TyreThreadRR" formControlName="TyreThreadRR" />
    </div>
    <div class="form-group">
        <label for="TyreThreadSpare">Tyre Thread Spare</label>
        <input type="number" class="form-control" id="TyreThreadSpare" formControlName="TyreThreadSpare" />
    </div>
    <div class="form-group">
        <label for="VehicleInspectedAt">Vehicle Inspected At</label>
        <input type="text" class="form-control" id="VehicleInspectedAt" formControlName="VehicleInspectedAt" />
    </div>
    <div class="form-group">
        <label for="QuotesObtainedFrom">Quotes Obtained From</label>
        <input type="text" class="form-control" id="QuotesObtainedFrom" formControlName="QuotesObtainedFrom" />
    </div>
    <div class="form-group">
        <label for="Remarks">Remarks</label>
        <input type="text" class="form-control" id="Remarks" formControlName="Remarks" />
    </div>
</div>